:root {
    --cor1: blue;
    --cor2: white;
}

button svg {
    width: 20px;
    height: 20px;
}

button {
    border-radius: 10em;
    padding: 16px;
    background-color: var(--cor1);
    border: none;
    fill: var(--cor2);
    position: relative;
}

div span {
    position: absolute;
    right: -2px;
    top: -7px;
    border-radius: 20px;
    background-color: red;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-family: ubuntu;
}

div {
    text-align: right;  
}

.Container {
    display: flex;
    justify-content: space-between;
}

.user {
    position: absolute;
    right: 1px;
    bottom: -5px;
    border-radius: 50px;
    background-color: #686565 ;
    width: 15px;
    height: 15px;
    padding: 5px;
}

.Facebook {
    width: 15px;
    height: 15px;
    padding: 5px;
}